@use "variables" as v;

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;

    .div2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        height: 80%;
        background-color: #5eb62f;
        border-radius: 25px;

        .sugerencia {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;

            h2 {
                font-family: v.$fuente-z;
                font-weight: 500;
                font-size: 40px;
                padding-bottom: 10px;
            }

            h3 {
                font-family: v.$fuente-z;
                font-weight: 100;
                font-size: 20px;
            }
        }

        div {
            display: flex;
            justify-content: space-around;
            align-items: end;

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;

                label {
                    font-family: v.$fuente-z;
                    font-size: 30px;
                    font-weight: 100;
                    padding-bottom: 5px;
                }

                textarea {
                    font-family: v.$fuente-z;
                    width: 300px;
                    height: 45px;
                    background-color: #a4da88;
                    border-radius: 10px;
                    border: none;
                }
            }

            a {
                padding-left: 15px;

                .fin {
                    font-size: 20px;
                    background-color: rgb(0, 93, 100);
                    width: 150px;
                    border-radius: 10px;
                }
            }
        }

        @include v.celular {
            @include v.display(column, space-evenly, center);
            height: 90%;
            border-radius: 20px;

            .sugerencia {
                h2 {
                    text-align: center;
                    font-weight: 500;
                    font-size: 35px;
                    padding-bottom: 20px;
                }

                h3 {
                    text-align: center;
                    font-size: 15px;
                }
            }

            div {
                @include v.display(column, space-around, center);

                form {
                    label {
                        text-align: center;
                    }

                    textarea {
                        width: 250px;
                    }
                }

                a {
                    padding-top: 20px;
                    padding-left: 0px;
                }
            }
        }
    }
}