@use "variables" as v;

.fotter {
    height: 12vh;

    h2 {
        padding-top: 45px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 0;
        font-weight: 500;
    }

    @include v.tablet {
        height: 12vh;

        h2 {
            padding-top: 45px;
            font-size: 15px;
        }
    }

    @include v.celular {
        height: 12vh;

        h2 {
            padding-top: 45px;
            font-size: 11px;
        }
    }
}